$black: #27201f;
$red-lt: #f3838f;
$red-md: #dd4a59;
$red-dk: #bd202d;
$blue-lt: #aee1f6;
$blue-md: #6bcef2;
$blue-dk: #3cbdee;
$orange-lt: #f8ab8c;
$orange-md: #f58558;
$orange-dk: #f15c24;

$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 768px)";
$desktop-width: "screen and (min-width: 1024px)";
