/* global controls */
*    { padding: 0; margin: 0; }
html { box-sizing: border-box; }
img  { margin-bottom: 2rem; max-width: 100%; display: block; }

/* element controls */
body {
  margin: 2.25rem auto;
  max-width: 40rem;
  font-size: 18px;
  color: #111;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
h1 {
  margin-bottom: 1rem;
  font-size: 2.75rem;
  text-transform: uppercase;
}
h2 { font-size: 1.75rem; }
h3 { font-size: 1.25rem; }
p, blockquote { margin: 1.5em auto; }
p {
  font-family: Times, serif;
  line-height: 1.4;
}
blockquote {
  padding: 0.5em 0.5em 1.5em 0.75em;
  background-color: #ddd;
}
ul { margin: 0 1em; }
li { padding: 0 1em; }
a { color: #0074d9; }
hr {
  margin: 3rem 0;
  display: block;
  border-width: 1px;
}
iframe {
  display: block;
  height: 320px;
  width: 640px;
}
