* {
  padding: 0;
  margin: 0;
}

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after { clear: both; }

body  { font-family: 'Pontano Sans', Arial, sans-serif; }

h1,
nav   { font-family: 'Stint Ultra Expanded', 'Courier New', monospace; }

img { max-width: 100%; }

p { margin: 1rem 0; }
p:last-child { margin: 0; }

ul    { list-style: none; }
li a  { text-decoration: none; }
li a,
label { text-transform: uppercase; }

.toggle_nav {
  position: relative;

  .menu_cntrl {  /* hides the checkbox */
    display: none;
    visibility: hidden;
  }
}
