body {
  font-size: 16px;
  line-height: 1.4;
}

header {
  padding: 4.5rem 1rem 1rem;
  background-color: #03799B;
  color: #fff;
  border-bottom: 0.375rem solid #069CC6;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px #014B60;
}

.menu_cntrl_label {
  padding: 0.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #02617C;
  border: 1px solid #014B60;
  border-radius: 0.25rem;
}

ul {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: #069CC6;
  border-left: 0.125rem solid #03799B;
  text-align: right;
  line-height: 4;
}
li {
  border-bottom: 0.0625rem solid #03799B;
  text-align: center;
  letter-spacing: 0.1rem;
}

section {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 35rem;
}
