header {
  padding: 1rem;
  background-color: #03799B;
  color: #fff;
  border-bottom: 0.375rem solid #069CC6;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

section {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 35rem;
}
