/* Teacher's global controls for Mobile First view */
html {
    font-size: 18px;  /* need to override? */
    line-height: 1rem;
    font-family: sans-serif;
    color: #111;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body, body * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .666rem;
    line-height: 1rem;
}

body>* {
    display: block;  /* need to override? */
    width: 300px;  /* need to override */
    margin: 0 auto;  /* need to override? */
}

.font-scale-up-3 {
    font-size: 3.375em;
    line-height: 2rem;
}

.font-scale-up-2 {
    font-size: 2.25em;
    line-height: 2rem;
}

.font-scale-up-1 {
    font-size: 1.5em;
}

.font-scale-down-1 {
    font-size: 0.666em;
}

header {
    margin: 1rem auto 2rem;  /* need to override */
    padding: 1rem;
    background-color: #FF851B;  /* need to override */
}

header h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

header h2 {
    font-weight: normal;
}

article {
    margin-bottom: 4rem;
    position: relative;  /*added for future overrides */
}

img.cover-img {
    width: 100%;  /* need to override */
    max-width: 100%;
    margin-bottom: 1rem;
}

article h1, article h2, img.cover-img, article p { position: static; }  /*added for future overrides */

article h2 {
    margin-bottom: 1rem;
    line-height: 1rem;
}

article p span {
    display: none;  /* need to override */
}

article p:after {  /* need to override */
    content: "Read More...";
    font-size: 1.5em;
    color: #FF851B;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

article p:hover:after {
    color: #111;
    text-decoration: none;
}

footer {
    margin-bottom: 3rem;
}

/* media queries */
@media screen and (min-width: 480px) {
    html { font-size: 22px; }
    body>* { width: 480px; }
    article p span { display: block; }
    article p:after { content: none; }
}

@media screen and (min-width: 720px) {
    html { font-size: 28px; }
    body>* { width: 720px; }
    img.cover-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 42%;
    }
    article h1, article h2, article p { margin-left: 46%; }
}

@media screen and (min-width: 1080px) {
    html { background-color: #FF851B; }
    body>* { width: 1080px; }
    header, footer {
      width: 10.5rem;
      margin: 0 0 1rem;
    }
    footer { padding: 0 1rem; }
    main {
      position: absolute;
      top: 1rem;
      left: 12rem;
      width: 80%;
      max-width: 1000px;
    }
    article h1, article h2, article p {
      display: none;
    }
    article {
      margin: 0 0.5rem 1rem;
      position: relative;
      float: left;
      width: 320px;
      height: 470px;
      overflow: hidden;
      border: 1px solid blue;
    }
    article img {
      top: 50%;
      left: 50%;
      height: 105%;
      width: auto;
      transform: translateY(-2.5%);
    }
    img.cover-img { width: 102%; }
}

@media screen and (min-width: 1620px) {
    main {
      max-width: 100%;
    }
}
